/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");


// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;



@font-face {
  font-family: 'Proxima Nova';
  src: 
       url('Mark Simonson - Proxima Nova Alt Black-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */


       url('Mark Simonson - Proxima Nova Alt Bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Mark Simonson - Proxima Nova Alt Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Mark Simonson - Proxima Nova Alt Condensed Semibold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Mark Simonson - Proxima Nova ScOsf Thin-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Mark Simonson - Proxima Nova Semibold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */

       url('Mark Simonson - Proxima Nova Thin-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */


       url('Mark Simonson - Proxima Nova Alt Black-webfont.svg') format('svg') /* Legacy iOS */
       url('Mark Simonson - Proxima Nova Alt Bold-webfont.svg') format('svg') /* Legacy iOS */
       url('Mark Simonson - Proxima Nova Alt Condensed Semibold-webfont.svg') format('svg') /* Legacy iOS */
       url('Mark Simonson - Proxima Nova Alt Regular-webfont.svg') format('svg') /* Legacy iOS */
       url('Mark Simonson - Proxima Nova ScOsf Thin-webfont.svg') format('svg') /* Legacy iOS */
       url('Mark Simonson - Proxima Nova Semibold-webfont.svg') format('svg') /* Legacy iOS */

       url('Mark Simonson - Proxima Nova Thin-webfont.svg') format('svg') /* Legacy iOS */






       url('Mark Simonson - Proxima Nova Alt Black-webfont.woff') format('woff') /* Legacy iOS */
       url('Mark Simonson - Proxima Nova Alt Bold-webfont.eot') format('eot') /* Legacy iOS */
       url('Mark Simonson - Proxima Nova Alt Bold-webfont.woff') format('woff') /* Legacy iOS */
       url('Mark Simonson - Proxima Nova Alt Condensed Semibold-webfont.eot') format('eot') /* Legacy iOS */
       url('Mark Simonson - Proxima Nova Alt Regular-webfont.eot') format('eot') /* Legacy iOS */

       url('Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff') /* Legacy iOS */


       url('Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot') format('eot') /* Legacy iOS */
       url('Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff') format('woff') /* Legacy iOS */
       url('Mark Simonson - Proxima Nova Semibold-webfont.eot') format('eot') /* Legacy iOS */
       url('Mark Simonson - Proxima Nova Thin-webfont.eot') format('eot') /* Legacy iOS */
       url('Mark Simonson - Proxima Nova Thin-webfont.woff') format('woff') /* Legacy iOS */
     


}


  $header-font: 'Proxima Nova', "Helvetica", "sans-serif";

  $base-font: 'Proxima Nova', "Helvetica", "sans-serif";

  
