.booking-welcomemsg h4{
	margin-bottom: -15px;
  color: #b9b9b9;
}


h2.h2-reg {
  font-size: 32px;
  color: $dark-green;
  font-size: 42px;
  margin-bottom: -20px;
  margin-top: 0;

}

.booking-info a.cancel-link {
	margin-top: 15px;
	display: inline-block;
}

.booking-info p {
	margin-bottom: 0;
}

.booking-info h4 {
	margin-top: 30px;
}