.map {
	width: 100%;
	margin: 40px 0;
}

.booking-wrapper {
	position: relative;
	background-color: #fff;
}

.booking-col {
  position: absolute;
  top: -66px;
  z-index: 1;
	width: 300px;
	// background-color: #fff;
}

.booking-col-highlight {
	padding: 15px;
	background-color: rgba(24, 145, 70,0.8);
	color: #fff;
	font-size: 26px;
	text-align: center;
}

.booking-col-content {
	padding: 15px 15px;
	background-color: #F6FAF0;
}


.show-content h1 {
	color: $light-green;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 20px;
}

.show-content h2 {
	color: $dark-green;
	font-weight: 100;
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 20px
}

.show-content h3 {
	margin-top: 40px;
	font-size: 21px;
}

.show-content p {
	color: #4A4A4A;
}

.show-content p.small {
	font-size: 12px;
}

.show-content .icon {
  font-size: 50px;
  margin-bottom: -5px;
  color: #b7b7b7;
}
