<div class="search-feature">
	<form action="/search" class="form-inline">
		<div class="form-group where-group">
			<label for="where">Where</label>
			<input type="text" id="where" placeholder="Destination, country, address">
		</div>
		<div class="form-group home-submit-button">
			<button type="submit" class="btn-big-search">
				<i class="fa fa-search"></i> Search
			</button>
		</div>
	</form>
</div>