<div class="banner">
  <div class="banner-content">
    <h1>Dream up a good life.</h1>
    <p>Live in a treehouse.</p>
    	<%= render 'shared/search'%>
			<!-- <button type="submit" class="btn-big-search">
				<i class="fa fa-search"></i> Search
			</button> -->
  </div>
</div>