/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.top-buffer { 
  margin-top:20px; 
}




.margin0 {
  margin-top: 0px
}

.margin10 {
  margin-top: 10px;
}

.margin20 {
  margin-top: 20px;
}

.margin30 {
  margin-top: 30px;
}

.margin40 {
  margin-top: 40px;
}

.margin50 {
  margin-top: 50px
}

.margin60 {
  margin-top: 40px;
}

.margin100 {
  margin-top: 100px;
}

.padded40 {
  padding-top: 40px;
}

.border-top {
  border-top: 1px solid rgba(0,0,0,0.1)
}

.full-width {
  width: 100%;
}

.display-ib {
  display: inline-block;
}

.devise-links-style a {
  color: #909090;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}



img.img-responsive {
	max-width: 100%;
}


a {
    color: $dark-green;
    text-decoration: none;
}

a:hover, a:focus {
    color: #116933;
    text-decoration: underline;
}




.btn-default {
  color: #fff;
  background-color: $light-green;
  border-color: #ccc;
}
/* line 11, /usr/local/Cellar/rbenv/1.1.0/versions/2.3.3/lib/ruby/gems/2.3.0/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-default:focus, .btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
/* line 17, /usr/local/Cellar/rbenv/1.1.0/versions/2.3.3/lib/ruby/gems/2.3.0/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-default:hover {
  color: #fff;
  background-color: $dark-green;
}
