.form-formats {
	margin-top: 50px;
  padding: 30px 40px;
  border: 2px solid rgba(181, 181, 181, 0.2);

}

.form-formats h1 {
	font-size: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #179146;
}

.form-formats h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #179146;
}

.treehouse_photos ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}